# Python
backend/venv/
__pycache__/
*.pyc

# Environment variables
backend/.env

# Uploads
backend/app/uploads/

# Frontend
frontend/node_modules/
frontend/dist/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
git reset HEAD~1
git reset HEAD~1
backend/.env
.env
.env.env